.relativePositioner {
  height: 100%;
  width: 100%;
  position: relative;
}

.absolutePositioner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
}

.container {
  flex: 1;
}
